node-red/ping.json
[{
  "id": "37f69c7d.fb3ea4",
  "type": "mongodb2",
  "z": "64191aca.2586d4",
  "uri": "mongodb://10.32.32.97:27027/heritage_development",
  "name": "KRIS",
  "options": "",
  "parallelism": "-1"
}, {
  "id": "8c2c2c81.e1cdc8",
  "type": "mqtt-broker",
  "z": "64191aca.2586d4",
  "broker": "www.celik.be",
  "port": "1883",
  "clientid": "",
  "usetls": false,
  "verifyservercert": true,
  "compatmode": true,
  "keepalive": "60",
  "cleansession": true,
  "willTopic": "",
  "willQos": "0",
  "willRetain": null,
  "willPayload": "",
  "birthTopic": "",
  "birthQos": "0",
  "birthRetain": null,
  "birthPayload": ""
}, {
  "id": "b160d0e5.622fa",
  "type": "mqtt in",
  "z": "64191aca.2586d4",
  "name": "PING",
  "topic": "/heritage/PING",
  "broker": "8c2c2c81.e1cdc8",
  "x": 94,
  "y": 66,
  "wires": [
    ["35c17ec9.cd1ef2"]
  ]
}, {
  "id": "c335d947.bdbee",
  "type": "mqtt out",
  "z": "64191aca.2586d4",
  "name": "OUT",
  "topic": "",
  "qos": "1",
  "retain": "true",
  "broker": "8c2c2c81.e1cdc8",
  "x": 392,
  "y": 404.5,
  "wires": []
}, {
  "id": "c9675020.791b8",
  "type": "debug",
  "z": "64191aca.2586d4",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "false",
  "x": 712,
  "y": 267.5,
  "wires": []
}, {
  "id": "35c17ec9.cd1ef2",
  "type": "json",
  "z": "64191aca.2586d4",
  "name": "",
  "x": 218,
  "y": 67,
  "wires": [
    ["eba885a1.87c39", "c9675020.791b8"]
  ]
}, {
  "id": "bf9663cb.50efd",
  "type": "inject",
  "z": "64191aca.2586d4",
  "name": "PING train station",
  "topic": "/heritage/PING",
  "payload": "[50.881264, 4.715634]",
  "payloadType": "json",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 175,
  "y": 374,
  "wires": [
    ["c335d947.bdbee"]
  ]
}, {
  "id": "d8efb97f.e6cff8",
  "type": "mongodb2 in",
  "z": "64191aca.2586d4",
  "service": "_ext_",
  "configNode": "37f69c7d.fb3ea4",
  "name": "KRIS",
  "collection": "pois",
  "operation": "",
  "x": 260,
  "y": 164,
  "wires": [
    ["cd23006e.d290a8"]
  ]
}, {
  "id": "eba885a1.87c39",
  "type": "function",
  "z": "64191aca.2586d4",
  "name": "Query",
  "func": "var latLon = msg.payload;\nvar newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {\n  location: {\n    $near: {\n      $geometry: {\n        type: \"Point\",\n        coordinates: latLon\n      },\n      $maxDistance: 100\n    }\n  }\n}, {\n  id: 1,\n  name: 1,\n  location: 1,\n  preview: 1\n};\n\nreturn newMsg;\n",
  "outputs": 1,
  "noerr": 0,
  "x": 117,
  "y": 163,
  "wires": [
    ["d8efb97f.e6cff8"]
  ]
}, {
  "id": "eae9f72.d9ec208",
  "type": "inject",
  "z": "64191aca.2586d4",
  "name": "DATA",
  "topic": "/heritage/DATA",
  "payload": "[ { \"title\": \"Gebouw\", \"id\": 1 },     { \"title\": \"Museum\", \"id\": 2 },     { \"title\": \"Monument2\", \"id\": 3 }   ]",
  "payloadType": "json",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 136,
  "y": 444,
  "wires": [
    ["c335d947.bdbee"]
  ]
}, {
  "id": "cd23006e.d290a8",
  "type": "function",
  "z": "64191aca.2586d4",
  "name": "format",
  "func": "var result = [];\n\nif (msg.payload.length > 0) {\n    var data = msg.payload;\n\n    \n    data.forEach(function(el, i, arr){\n        result.push({id: el._id, \n        title: el.metadata.title.join(', '), \n        latLon: el.metadata.lbsLatLon, \n        thumbnail: el.metadata.edmPreview[0] || ''});\n    });\n}\n\nmsg.payload = result;\nmsg.topic = '/heritage/DATA';\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 401,
  "y": 164,
  "wires": [
    ["72bd6712.3e786"]
  ]
}, {
  "id": "72bd6712.3e786",
  "type": "json",
  "z": "64191aca.2586d4",
  "name": "",
  "x": 572,
  "y": 185.5,
  "wires": [
    ["c335d947.bdbee", "c9675020.791b8"]
  ]
}, {
  "id": "a9d0cd5e.847838",
  "type": "inject",
  "z": "64191aca.2586d4",
  "name": "Thuis",
  "topic": "/heritage/PING",
  "payload": "[51.1169174, 5.2566289]",
  "payloadType": "json",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 117.5,
  "y": 317.5,
  "wires": [
    ["c335d947.bdbee"]
  ]
}]
